<div *ngIf = "!(authService.getUser() | async)">You are not logged in</div>

<button mat-raised-button color = "primary" (click) = "hiddenCreate = !hiddenCreate">Add customer</button>

<customer-form
(update) = "add($event);hiddenCreate = !hiddenCreate"
[hidden] ="hiddenCreate"
(closeForm) = "hiddenCreate = !hiddenCreate"
[formType] = "'Add customer'"
>
</customer-form>

<table mat-table [dataSource]="customers" class="mat-elevation-z8"
*ngIf = "(authService.getUser() | async)">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef> education </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{element.education}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> income </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{element.income}} </td>
    </ng-container>

    <!-- update Column -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        <div>
        <button mat-raised-button color = "primary" (click) = "hiddenEdit[i] = !hiddenEdit[i]">Update customer</button>
        <customer-form
            (update) = "update($event);hiddenEdit[i] = !hiddenEdit[i]"
            [hidden] ="!hiddenEdit[i]"
            (closeForm) = "hiddenEdit[i] = !hiddenEdit[i]"
            [formType] = "'Update customer'"
            [name] = "element.name"
            [education] = "element.education"
            [income] = "element.income"
            [customerId] = "element.id"
        >
        </customer-form>
        </div>
      </td>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        <button mat-raised-button color="warn" (click) = "delete(element.id)">Delete</button>
      </td>
    </ng-container>

    <!-- predict Column -->
    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef> predict </th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        <button *ngIf = "!element.result" 
        mat-raised-button color = "primary" 
        (click) = "sendData(i,element.education,element.income)"
        >predict
      </button>
        <button *ngIf = "element.result && !element.saved" 
        mat-raised-button color = "accent" 
        (click) = "sendResult(i,element.id,element.result)">Save</button>
        <p *ngIf = "element.saved">Saved</p>
      </td>
    </ng-container>

    <!-- result Column -->
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef> Result </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span  [ngClass]="[element.result=='will pay' ? 'green' : 'red']">{{element.result}}</span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  