<mat-card>
        <h2>{{formType}}</h2>
        <form #customerForm = "ngForm">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)] = name name = name required>
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Education</mat-label>
                    <input matInput [(ngModel)] = education name = education required>
                  </mat-form-field>
            </div>
            <span *ngIf = "notAllowedEdu" class = "alertMessage">Education must be between 0-24 years</span>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Income</mat-label>
                    <input matInput [(ngModel)] = income name = income required>
                  </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click) = "updateParent()">{{formType}}</button>
                <button mat-raised-button (click) = "tellParentToClose()">Cancel</button>
            </div>
        </form>
    </mat-card>
    
